.container {
  padding-left: 10px;
  padding-right: 10px;
  width: 362px;
  width: 100%;
  margin: 0 auto;
  outline: solid red;

  @media screen and (min-width: 1306px) {
    width: 1306px;
  }

  @media screen and (min-width: 1740px) {
    width: 1740px;
  }
}
