<section class="doctors">
    <div class="container">
        <div class="doctors__wraper">
            <div class="doctors__wraper-number">
                <h1 class="doctors__title">Лікарі</h1>
                <ul class="doctors__list">
                    <li class="doctors__list-item">
                        <h2 class="doctors__subtitle">+100</h2>
                        <p class="doctors__text">досвідчених лікарів</p>
                    </li>
                    <li class="doctors__list-item">
                        <h2 class="doctors__subtitle">35</h2>
                        <p class="doctors__text">середній стаж</p>
                    </li>
                </ul>
            </div>
           
            <div class="doctors__some-img">
                <img class="doctors__img" src=".//image/destop/doctor1@1x.webp" alt="nurse">
                <img class="doctors__img" src=".//image/destop/doctor2@1x.webp" alt="nurse">
                <img class="doctors__img" src=".//image/destop/doctor3@1x.webp" alt="nurse">
            </div>
        </div> 
        <button type="button" class="doctors__btn">Знайти лікаря</button>
    </div>
</section>