<header class="header">
  <div class="header__box container">
    <button type="button" class="header__modal" data-menu-open>
      <svg class="header__burger">
        <use href="../../image/icons/symbol-defs-2.svg#icon-burger-menu"></use>
      </svg>
    </button>
    <a class="header__logo-link" href="./index.html">
      <ul class="header__logo-list">
        <li>
          <img src="./image/icons/logo.svg" alt="logo" />
        </li>
        <li>
          <svg class="header__logo2">
            <use href="../../image/icons/symbol-defs.svg#icon-logo"></use>
          </svg>
        </li>
      </ul>
    </a>
    <svg class="header__search">
      <use href="../../image/icons/symbol-defs-2.svg#icon-search"></use>
    </svg>
    <ul class="header__list">
      <li class="header__item">
        <a class="header__link" href="../../index.html">Про нас</a>
      </li>
      <li class="header__item">
        <a class="header__link" href="../../doctors.html">Лікарі</a>
      </li>
      <li class="header__item">
        <a class="header__link" href="#services">Вартість</a>
      </li>
      <li class="header__item">
        <a class="header__link" href="#questions">Запитання</a>
      </li>
      <li class="header__item">
        <a class="header__link" href="#reviews">Відгуки</a>
      </li>
      <li class="header__item">
        <a class="header__link" href="#footer">Контакти</a>
      </li>
    </ul>
    <svg class="header__menu">
      <use href="../../image/icons/symbol-defs-2.svg#icon-personality"></use>
    </svg>
    <form class="header__form">
      <input type="checkbox" class="header__btn" id="header__btn" />
      <label class="header__label" for="#header__btn">
        <ul class="header__menu-list">
          <li class="header__menu-item">
            <a href="./index.html" class="header__menu-personality">Пацієнт</a>
          </li>
          <li class="header__menu-item">
            <a href="./doctors.html" class="header__menu-personality">Лікар</a>
          </li>
        </ul>
      </label>
    </form>
  </div>
</header>
