
<header class="header">
  <div class="header__box container">
    <svg class="header__logo">
      <use href="../../image/icons/logo.svg"></use>
    </svg>
    <ul class="header__list">
      <li class="header__item">
        <a href="../../index.html">Про нас</a>
      </li>
      <li class="header__item">
        <a href="../../doctors.html">Лікарі</a>
      </li>
      <li class="header__item">
        <a href="">Вартість</a>
      </li>
      <li class="header__item">
        <a href="">Запитання</a>
      </li>
      <li class="header__item">
        <a href="">Відгуки</a>
      </li>
      <li class="header__item">
        <a href="">Контакти</a>
      </li>
    </ul>
    <div class="menu">
      <svg class="menu__logo">
        <use href=""></use>
      </svg>
        <ul class="menu__list">
            <li class="menu__item">
                <a href="" class="menu__personality">Пацієнт</a>
            </li>
            <li class="menu__item">
                <a href="./doctors.html" class="menu__personality">Лікар</a>
            </li>
        </ul>
    </div>
  </div>
</header>
