<section class="hero">
    <div class="container">
      <h1>Evidence</h1>
      <p>Територія сучаної педіатрії - доказ нашої любові</p>
      <button type="button" class="hero__btn">Записатись на прийом</button>
      <ul class="hero__info-list">
        <li class="hero__info-item">
          <svg class="hero__info-logo">
            <use href=""></use>
          </svg>
          <p class="hero__info-text">З’єднаємо зараз</p>
        </li>
        <li class="hero__info-item">
          <svg class="hero__info-logo">
            <use href=""></use>
          </svg>
          <p class="hero__info-text">Цілодобово</p>
        </li>
        <li class="hero__info-item">
          <svg class="hero__info-logo">
            <use href=""></use>
          </svg>
          <p class="hero__info-text">Вартість 400 грн</p>
        </li>
      </ul>
    </div>
  </section>
