<section class="log-in">
    <div class="log-in__wrapper-box">    
        <h2 class="log-in__title">
            Особистий кабінет
        </h2>
        <ul class="log-in__list">
            <li>
                <p class="log-in__text1">
                    Вхід
                </p>
            </li>
            <li>
                <p class="log-in__text">
                    Реєстрація
                </p>
            </li>
        </ul>

        <div class="input-icon-box">
            <label class="log-in__label-wrapper" for="">Персональний номер:</label>
            <input placeholder="Ваш персональний номер" class="log-in__input" type="text" name="" id="">

            <label class="log-in__label-wrapper" for="">Підтвердження пароля:</label>
            <input placeholder="*******" class="log-in__input log-in__input-last" type="text" name="" id="">
            <svg class="log-in__icon1">
                <use href="../../image/icons/symbol-defs.svg#icon-Eye"></use>
            </svg>
        </div>

        <button class="log-in__button">Вхід</button>

            <div class="log-in__box">
                <p class="log-in__text2">Або увійти через
                    соцмережі</p>
                <ul class="log-in__icon-box">
                    <li>
                        <svg class="registration__icon">
                            <use href="../../image/icons/symbol-defs.svg#icon-Google-logo"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="registration__icon">
                            <use href="../../image/icons/symbol-defs.svg#icon-facebook-logo"></use>
                        </svg>
                    </li>
                </ul>
            </div>
    </div>
</section>
