<div class="menu container is-hidden" data-menu>
  <div class="menu__box container">
    <div class="menu__header">
      <button class="menu__btn" data-menu-close>
        <svg class="menu__icon-close">
          <use
            href="../../image/icons/symbol-defs-2.svg#icon-modal-close"
          ></use>
        </svg>
      </button>
      <a class="header__logo-link" href="./index.html">
        <ul class="menu__logo-list">
          <li>
            <img src="./image/icons/logo.svg" alt="logo" />
          </li>
          <li>
            <svg class="header__logo2">
              <use href="../../image/icons/symbol-defs.svg#icon-logo"></use>
            </svg>
          </li>
        </ul>
      </a>
      <svg class="header__search menu__search">
        <use href="../../image/icons/symbol-defs-2.svg#icon-search"></use>
      </svg>
    </div>
  </div>
  <div class="menu__registration">
    <ul class="menu__registration-list">
      <li class="menu__registration-item">
        <svg class="menu__personality">
          <use
            href="../../image/icons/symbol-defs-2.svg#icon-personality"
          ></use>
        </svg>
        <p class="menu__login-text">Увійти</p>
      </li>
      <li class="menu__registration-item">
        <svg class="menu__global">
          <use href="../../image/icons/symbol-defs-2.svg#icon-global"></use>
        </svg>
        <p class="menu__login-text">
          Укр /<span class="menu__login-eng"> Eng</span>
        </p>
      </li>
    </ul>
  </div>
  <div class="menu__sections">
    <ul class="menu__list">
      <li class="menu__item">
        <a class="menu__link" href="../../index.html">Про нас</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="../../doctors.html">Лікарі</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="">Вартість</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="">Запитання</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="">Відгуки</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="">Контакти</a>
      </li>
    </ul>
  </div>
  <div class="menu__footer">
    <ul class="menu__first-list">
      <li class="footer__list-item">
        <ul class="footer__first-box">
          <li>
            <svg class="footer__icons">
              <use href="./image/icons/symbol-defs.svg#icon-map"></use>
            </svg>
          </li>
          <li>
            <ul class="footer__discription-box">
              <li>
                <p class="footer__text">Адреса:</p>
              </li>
              <li>
                <p class="footer__discription">
                  м.Львів, проспект Відродження, 121
                </p>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="footer__list-item">
        <ul class="footer__first-box">
          <li>
            <svg class="footer__icons">
              <use href="./image/icons/symbol-defs.svg#icon-email"></use>
            </svg>
          </li>
          <li>
            <ul class="footer__discription-box">
              <li>
                <p class="footer__text">Email:</p>
              </li>
              <li>
                <p class="footer__discription">evidence.ua@gmail.com</p>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="footer__list-item">
        <ul class="footer__first-box">
          <li>
            <svg class="footer__icons">
              <use href="./image/icons/symbol-defs.svg#icon-phone"></use>
            </svg>
          </li>
          <li>
            <ul class="footer__discription-box">
              <li>
                <p class="footer__text">Телефон:</p>
              </li>
              <li>
                <p class="footer__discription">(800) 000 00 00</p>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="footer__list-item">
        <ul class="footer__second-box">
          <li>
            <svg class="footer__icons">
              <use href="./image/icons/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </li>
          <li>
            <svg class="footer__icons">
              <use href="./image/icons/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </li>
          <li>
            <svg class="footer__icons">
              <use href="./image/icons/symbol-defs.svg#icon-google"></use>
            </svg>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

