<section class="numbers">
    <div class="container">
        <h1 class="numbers__title"> Про клініку в цифрах (2022)</h1>
        <ul class="numbers__list">
            <li class="numbers__list-item numbers__first-item">
                <h2 class="numbers__subtitle">13 370</h2>
                <p class="numbers__text">щасливих пацієнтів</p>
                <!-- <svg class="numbers__icon">
                    <use href="../../image/icons/Frame.svg"></use>
                </svg> -->
                <!-- <img class="numbers__icon" src="../../image/icons/Frame.svg" alt="">
                <img class="numbers__icon" src="../../image/icons/Frame3.svg" alt=""> -->
            </li>
            <li class="numbers__list-item numbers__two-item">
                <h2 class="numbers__subtitle">568</h2>
                <p class="numbers__text">вакцинацій</p>
                
            </li>
            <li class="numbers__list-item">
                <h2 class="numbers__subtitle numbers__three-item">1 247</h2>
                <p class="numbers__text">лабораторних досліджень</p>
                <!-- <img class="numbers__icon" src="../../image/icons/Vector3.svg" alt="">
                <img class="numbers__icon" src="../../image/icons/dugger.svg" alt=""> -->
            </li>
            <li class="numbers__list-item">
                <h2 class="numbers__subtitle numbers__four-item">+10</h2>
                <p class="numbers__text">років турботи про Ваших малят</p>
            </li>
        </ul>
    </div>
</section>


