<section class="numbers">
    <div class="container">
        <h1 class="numbers__title"> Про клініку в цифрах (2022)</h1>
        <ul class="numbers__list">
            <li class="numbers__list-item">
                <h2 class="numbers__subtitle">13 370</h2>
                <p class="numbers__text">щасливих пацієнтів</p>
            </li>
            <li class="numbers__list-item">
                <h2 class="numbers__subtitle">568</h2>
                <p class="numbers__text">вакцинацій</p>
            </li>
            <li class="numbers__list-item">
                <h2 class="numbers__subtitle">1 247</h2>
                <p class="numbers__text">лабораторних досліджень</p>
            </li>
            <li class="numbers__list-item">
                <h2 class="numbers__subtitle">+10</h2>
                <p class="numbers__text">років турботи про Ваших малят</p>
            </li>
        </ul>
    </div>
</section>





<section class="doctors">
    <div class="container">
        <h1 class="doctors__title">Лікарі</h1>
        <img class="doctors__img" src="" alt="">
        <img class="doctors__img" src="" alt="">
        <ul class="doctors__list">
            <li class="doctors__list-item">
                <h2 class="doctors__subtitle">+100</h2>
                <p class="doctors__text">досвідчених лікарів</p>
            </li>
            <li class="doctors__list-item">
                <h2 class="doctors__subtitle">35</h2>
                <p class="doctors__text">середній стаж</p>
            </li>
        </ul>
        <button type="button" class="doctors__btn">Знайти лікаря</button>
    </div>
</section>





<section class="servise">
    <div class="container">
        <h1 class="servise__title">Послуги та вартість</h1>
    </div>
</section>





<section class="qestion">
    <div class="container">
        <h1 class="qestion__title">Питання-відповідь</h1>
        <a href="" class="qestion__link">Загальні питання</a>
        <a href="" class="qestion__link">Реєстрація та вхід</a>
        <a href="" class="qestion__link">Вакцинація</a>
        <a href="" class="qestion__link">Відео-консультація</a>
        <svg>
            <use></use>
        </svg>
    </div>
</section>
