<section class="qestion" id="questions">
    <div class="container qestion__art-wrapper">
        <h1 class="qestion__title">Питання-відповідь</h1>
        <div class="qestion__wrapper">
            <div class="qestion__first-link">
                <h1 class="qestion__title-first">Питання-відповідь</h1>
                <a href="" class="qestion__link">Загальні питання</a>
                <a href="" class="qestion__link">Реєстрація та вхід</a>
                <a href="" class="qestion__link">Вакцинація</a>
                <a href="" class="qestion__link">Відео-консультація</a>
            </div>
            <div>
                <img src="../../image/icons/reviews-art.svg" class="qestion__art">
                </img>
            </div>
        
            <div class="qestion__open">
                <ul class="qestion__open-list">
                    <li class="qestion__open-item">
                        <input class="qestion__input" type="checkbox" name="qestion__accordion" id="cb1" checked>
                        <label for="cb1" class="qestion__subtitle qestion__open-link"> 1. Як записатись до лікаря самостійно?</label>
                        <div class="qestion__paragraph qestion__open-linkks">
                            <ul class="qestion__choice-list">
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">У розділі “Лікарі” оберіть потрібного лікаря.</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Натисніть на кнопку “Записатись на прийом”.</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Обрати зручну для вас дату, клікнути на кнопку "Записатись на прийом".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Обрати вільний час прийому.</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Клікнути на кнопку "Записатись на обраний час".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Ввести номер телефону, вказаний при реєстрації, та натиснути "Далі".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Ввести пароль та натиснути кнопку "Вхід".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">При виборі кого записати на прийом, з випадаючого списку натиснути варіант "Записати дитину...." та натиснути на кнопку "Записатися на обраний час".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Дочекатися повідомлення "Запис на прийом здійснено успішно".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text"> Переглянути створений візит в особистому кабінеті: "Візити" – "Заплановані".</p>
                                </li>
                            </ul>
                            <!-- <p class="qestion__text">rr</p> -->
                        </div>
                        <!-- <svg  width="41" height="42" class="qestion__icon">
                            <use href="./../../image/icons/symbol-defs.svg#icon-plus"></use>
                        </svg> -->
                    </li>
                    <li class="qestion__open-item">
                        <input class="qestion__input" type="checkbox" name="qestion__accordion" id="cb2" checked>
                        <label for="cb2" class="qestion__subtitle qestion__open-link"> 2. Як записатись до лікаря за направленням?</label>
                        <div class="qestion__paragraph qestion__open-linkks">
                            <p class="qestion__text">
                                <ul class="qestion__choice-list">
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">У розділі “Лікарі” оберіть потрібного лікаря.</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">Натисніть на кнопку “Записатись на прийом”.</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">Обрати зручну для вас дату, клікнути на кнопку "Записатись на прийом".</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">Обрати вільний час прийому.</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">Клікнути на кнопку "Записатись на обраний час".</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">Ввести номер телефону, вказаний при реєстрації, та натиснути "Далі".</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">Ввести пароль та натиснути кнопку "Вхід".</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">При виборі кого записати на прийом, з випадаючого списку натиснути варіант "Записати дитину...." та натиснути на кнопку "Записатися на обраний час".</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">Дочекатися повідомлення "Запис на прийом здійснено успішно".</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text"> Переглянути створений візит в особистому кабінеті: "Візити" – "Заплановані".</p>
                                    </li>
                                </ul>
                            </p>
                        </div>
                        <!-- <svg  width="41" height="42" class="qestion__icon">
                            <use href="./../../image/icons/symbol-defs.svg#icon-plus"></use>
                        </svg> -->
                    </li>
                    <li class="qestion__open-item">
                        <input class="qestion__input" type="checkbox" name="qestion__accordion" id="cb3" checked>
                        <label for="cb3" class="qestion__subtitle qestion__open-link"> 3. Як скасувати запис?</label>
                        <div class="qestion__paragraph qestion__open-linkks">
                            <p class="qestion__text">
                                <ul class="qestion__choice-list">
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">У розділі “Лікарі” оберіть потрібного лікаря.</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">Натисніть на кнопку “Записатись на прийом”.</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">Обрати зручну для вас дату, клікнути на кнопку "Записатись на прийом".</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">Обрати вільний час прийому.</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">Клікнути на кнопку "Записатись на обраний час".</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">Ввести номер телефону, вказаний при реєстрації, та натиснути "Далі".</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">Ввести пароль та натиснути кнопку "Вхід".</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">При виборі кого записати на прийом, з випадаючого списку натиснути варіант "Записати дитину...." та натиснути на кнопку "Записатися на обраний час".</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">Дочекатися повідомлення "Запис на прийом здійснено успішно".</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text"> Переглянути створений візит в особистому кабінеті: "Візити" – "Заплановані".</p>
                                    </li>
                                </ul>
                            </p>
                        </div>
                        <!-- <svg  width="41" height="42" class="qestion__icon">
                            <use href="./../../image/icons/symbol-defs.svg#icon-plus"></use>
                        </svg> -->
                    </li>
                    <li class="qestion__open-item">
                        <input class="qestion__input" type="checkbox" name="qestion__accordion" id="cb4" checked>
                        <label for="cb4" class="qestion__subtitle qestion__open-link"> 4. Як переглянути запис на прийом?</label>
                        <div class="qestion__paragraph qestion__open-linkks">
                            <p class="qestion__text">
                                <ul class="qestion__choice-list">
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">У розділі “Лікарі” оберіть потрібного лікаря.</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">Натисніть на кнопку “Записатись на прийом”.</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">Обрати зручну для вас дату, клікнути на кнопку "Записатись на прийом".</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">Обрати вільний час прийому.</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">Клікнути на кнопку "Записатись на обраний час".</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">Ввести номер телефону, вказаний при реєстрації, та натиснути "Далі".</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">Ввести пароль та натиснути кнопку "Вхід".</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">При виборі кого записати на прийом, з випадаючого списку натиснути варіант "Записати дитину...." та натиснути на кнопку "Записатися на обраний час".</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">Дочекатися повідомлення "Запис на прийом здійснено успішно".</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text"> Переглянути створений візит в особистому кабінеті: "Візити" – "Заплановані".</p>
                                    </li>
                                </ul>
                            </p>
                        </div>
                        <!-- <svg  width="41" height="42" class="qestion__icon">
                            <use href="./../../image/icons/symbol-defs.svg#icon-plus"></use>
                        </svg> -->
                    </li>
                    <li class="qestion__open-item">
                        <input class="qestion__input" type="checkbox" name="qestion__accordion" id="cb5" checked>
                        <label for="cb5" class="qestion__subtitle qestion__open-link"> 5. Як залишити відгук про лікаря?</label>
                        <div class="qestion__paragraph qestion__open-linkks">
                            <p class="qestion__text">
                                <ul class="qestion__choice-list">
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">У розділі “Лікарі” оберіть потрібного лікаря.</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">Натисніть на кнопку “Записатись на прийом”.</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">Обрати зручну для вас дату, клікнути на кнопку "Записатись на прийом".</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">Обрати вільний час прийому.</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">Клікнути на кнопку "Записатись на обраний час".</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">Ввести номер телефону, вказаний при реєстрації, та натиснути "Далі".</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">Ввести пароль та натиснути кнопку "Вхід".</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">При виборі кого записати на прийом, з випадаючого списку натиснути варіант "Записати дитину...." та натиснути на кнопку "Записатися на обраний час".</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">Дочекатися повідомлення "Запис на прийом здійснено успішно".</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text"> Переглянути створений візит в особистому кабінеті: "Візити" – "Заплановані".</p>
                                    </li>
                                </ul>
                            </p>
                        </div>
                        <!-- <svg  width="41" height="42" class="qestion__icon">
                            <use href="./../../image/icons/symbol-defs.svg#icon-plus"></use>
                        </svg> -->
                    </li>

                    <li class="qestion__open-item">
                        <input class="qestion__input" type="checkbox" name="qestion__accordion" id="cb6" checked>
                        <label for="cb6" class="qestion__subtitle qestion__open-link"> 6. Як змінити особисті дані?</label>
                        <!-- <a href="" class="qestion__open-link">6. Як змінити особисті дані?</a> -->
                        <div class="qestion__paragraph qestion__open-linkks">
                            <p class="qestion__text">
                                <ul class="qestion__choice-list">
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">У розділі “Лікарі” оберіть потрібного лікаря.</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">Натисніть на кнопку “Записатись на прийом”.</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">Обрати зручну для вас дату, клікнути на кнопку "Записатись на прийом".</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">Обрати вільний час прийому.</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">Клікнути на кнопку "Записатись на обраний час".</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">Ввести номер телефону, вказаний при реєстрації, та натиснути "Далі".</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">Ввести пароль та натиснути кнопку "Вхід".</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">При виборі кого записати на прийом, з випадаючого списку натиснути варіант "Записати дитину...." та натиснути на кнопку "Записатися на обраний час".</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text">Дочекатися повідомлення "Запис на прийом здійснено успішно".</p>
                                    </li>
                                    <li class="qestion__choice-item">
                                        <p class="qestion__choice-text"> Переглянути створений візит в особистому кабінеті: "Візити" – "Заплановані".</p>
                                    </li>
                                </ul>
                            </p>
                        </div>
                        <!-- <svg  width="41" height="42" class="qestion__icon">
                            <use href="./../../image/icons/symbol-defs.svg#icon-plus"></use>
                        </svg> -->
                    </li>

                </ul>
            </div>
        </div>



<!-- <section class="faq">
    <ul class="faq__list">
        <li class="faq__item">
            <input class="faq__input" type="checkbox" name="faq__accordion" id="cb11" checked>
            <label for="cb11" class="faq__subtitle">What programming languages ​​are most often used in your project?</label>
            <div class="faq__paragraph">
                <p class="faq__text">rr</p>
            </div>
        </li>
        <li class="faq__item">
            <input  class="faq__input" type="checkbox" name="faq__accordion" id="cb12" checked>
            <label for="cb12" class="faq__subtitle">How can I contact you?</label>
            <div class="faq__paragraph">
                <p class="faq__text">In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
            </div>
        </li>
    </ul>
</section> -->
        



    </div>
</section>