<section class="qestion">
    <div class="container">
        <h1 class="qestion__title">Питання-відповідь</h1>
        <div class="qestion__wrapper">
            <div class="qestion__first-link">
                <a href="" class="qestion__link">Загальні питання</a>
                <a href="" class="qestion__link">Реєстрація та вхід</a>
                <a href="" class="qestion__link">Вакцинація</a>
                <a href="" class="qestion__link">Відео-консультація</a>
                <svg>
                    <use></use>
                </svg>
            </div>
        
            <div class="qestion__open">
                <ul class="qestion__open-list">
                    <li class="qestion__open-item">
                        <a href="" class="qestion__open-link">1. Як записатись до лікаря самостійно?</a>
                    </li>
                    <li class="qestion__open-item">
                        <a href="" class="qestion__open-link">2. Як записатись до лікаря за направленням?</a>
                    </li>
                    <li class="qestion__open-item">
                        <a href="" class="qestion__open-link">3. Як скасувати запис?</a>
                    </li>
                    <li class="qestion__open-item">
                        <a href="" class="qestion__open-link">4. Як переглянути запис на прийом?</a>
                    </li>
                    <li class="qestion__open-item">
                        <a href="" class="qestion__open-link">5. Як залишити відгук про лікаря?</a>
                    </li>
                    <li class="qestion__open-item">
                        <a href="" class="qestion__open-link">6. Як змінити особисті дані?</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>