<section class="qestion">
    <div class="container">
        <h1 class="qestion__title">Питання-відповідь</h1>
        <div class="qestion__wrapper">
            <div class="qestion__first-link">
                <a href="" class="qestion__link">Загальні питання</a>
                <a href="" class="qestion__link">Реєстрація та вхід</a>
                <a href="" class="qestion__link">Вакцинація</a>
                <a href="" class="qestion__link">Відео-консультація</a>
            </div>
            <svg class="qestion__icon-doctor-child" >
                <use href="./image/icons/symbol-defs.svg#icon-reviews-art"></use>
            </svg>
        
            <div class="qestion__open">
                <ul class="qestion__open-list">
                    <li class="qestion__open-item">
                        <a href="" class="qestion__open-link">1. Як записатись до лікаря самостійно?</a>
                        <svg  width="41" height="42" class="qestion__icon">
                            <use href="./../../image/icons/symbol-defs.svg#icon-plus"></use>
                        </svg>
                    </li>
                    <li class="qestion__open-item">
                        <a href="" class="qestion__open-link">2. Як записатись до лікаря за направленням?</a>
                        <svg  width="41" height="42" class="qestion__icon">
                            <use href="./../../image/icons/symbol-defs.svg#icon-plus"></use>
                        </svg>
                    </li>
                    <li class="qestion__open-item">
                        <a href="" class="qestion__open-link">3. Як скасувати запис?</a>
                        <svg  width="41" height="42" class="qestion__icon">
                            <use href="./../../image/icons/symbol-defs.svg#icon-plus"></use>
                        </svg>
                    </li>
                    <li class="qestion__open-item">
                        <a href="" class="qestion__open-link">4. Як переглянути запис на прийом?</a>
                        <svg  width="41" height="42" class="qestion__icon">
                            <use href="./../../image/icons/symbol-defs.svg#icon-plus"></use>
                        </svg>
                    </li>
                    <li class="qestion__open-item">
                        <a href="" class="qestion__open-link">5. Як залишити відгук про лікаря?</a>
                        <svg  width="41" height="42" class="qestion__icon">
                            <use href="./../../image/icons/symbol-defs.svg#icon-plus"></use>
                        </svg>
                    </li>
                    <li class="qestion__open-item">
                        <a href="" class="qestion__open-link">6. Як змінити особисті дані?</a>
                        <svg  width="41" height="42" class="qestion__icon">
                            <use href="./../../image/icons/symbol-defs.svg#icon-plus"></use>
                        </svg>
                    </li>
                </ul>
            </div>
        </div>



<section class="faq">
    <ul class="faq__list">
        <li class="faq__item">
            <input class="faq__input" type="checkbox" name="faq__accordion" id="cb1" checked>
            <label for="cb1" class="faq__subtitle">What programming languages ​​are most often used in your project?</label>
            <div class="faq__paragraph">
                <p class="faq__text">In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
            </div>
        </li>
        <li class="faq__item">
            <input  class="faq__input" type="checkbox" name="faq__accordion" id="cb2" checked>
            <label for="cb2" class="faq__subtitle">How can I contact you?</label>
            <div class="faq__paragraph">
                <p class="faq__text">In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
            </div>
        </li>
    </ul>
</section>
        



    </div>
</section>