<div class="registration">
    <div class="container">
        <button class="regestration__close">
            <svg class="registration__dugger" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M9.17 14.83L14.83 9.17M14.83 14.83L9.17 9.17M9 22H15C20 22 22 20 22 15V9C22 4 20 2 15 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22Z" stroke="#72B7F2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </button>
        <h2 class="registration__title">
            Особистий кабінет
        </h2>
        <ul class="registration__list">
            <li>
                <p class="registration__text1">
                    Вхід
                </p>
            </li>
            <li>
                <p class="registration__text">
                    Реєстрація
                </p>
            </li>
        </ul>
        
        <label class="registration__label" for="PIB">ПІБ:</label>
        <input id="PIB" class="registration__input" type="text">
        <p  class="registration__text">Дата народження:</p>
        <ul class="registration__button-list">
            <li>
                <button class="registration__btn">
                    Дата
                </button>
            </li>
            <li>
                <button class="registration__btn">
                    Місяць
                </button>
            </li>
            <li>
                <button class="registration__btn">
                    Рік
                </button>
            </li>
        </ul>
        <p class="registration__text">Стать:</p>

        <div class="input-box">
            <div class="input-label-box">
                <label class="registration__label-circel" for="customChekbox">жіноча</label>
            <input class="registration__circle-input" type="checkbox" name="" id="customChekbox">
            </div>
            
            <div class="input-label-box"><label class="registration__label-circel" for="customChekbox">чоловіча</label>
                <input class="registration__circle-input" type="checkbox" name="" id="customChekbox">
            </div>
        </div>
        

        <label for="">Телефон</label>
        <input class="registration__input" type="text" name="" id="">

        <label for="">Адреса e-mail:</label>
        <input class="registration__input" type="text" name="" id="">

        <div class="input-icon-box">
            <label for="">Пароль: (Пароль повинен бути не менше 6 симфолів довжиною.)</label>
            <input placeholder="*******" class="registration__input" type="text" name="" id="">
            <svg class="registration__icon1">
                <use href="../../image/icons/symbol-defs.svg#icon-Eye"></use>
            </svg>
        </div>
        

        <div class="input-icon-box">
            <label for="">Підтвердження пароля:</label>
            <input placeholder="*******" class="registration__input" type="text" name="" id="">
            <svg class="registration__icon1">
                <use href="../../image/icons/symbol-defs.svg#icon-Eye"></use>
            </svg>
        </div>
        

        <button class="registration__button">Зареєструватися</button>

        <div class="registration__box">
            <p class="registration__text2">Або увійти через
                соцмережі</p>
            <ul class="registration__icon-box">
                <li>
                    <svg class="registration__icon">
                        <use href="../../image/icons/symbol-defs.svg#icon-Google-logo"></use>
                    </svg>
                </li>
                <li>
                    <svg class="registration__icon">
                        <use href="../../image/icons/symbol-defs.svg#icon-facebook-logo"></use>
                    </svg>
                </li>
            </ul>
        </div>
    </div>
</div>