<section class="reviews" id="reviews">
    <div class="container">
        <h2 class="reviews__title">Що говорять наші клієнти</h2>
        <ul class="block-list">
            <li class="block-list-item">
                <svg class="reviews__icon1">
                    <use href="../../image/icons/symbol-defs.svg#icon-arrow"></use>
                </svg>
                <div>
                    <picture>
                        <source srcset="./image/destop/reviews-img1@1x.webp 1x, ./image/destop/reviews-img1@2x.webp 2x" media="(min-width: 1280px)">
                        <source srcset="./image/tablet/reviews-img1@1x.webp 1x, ./image/tablet/reviews-img1@2x.webp 2x" media="(min-width: 736px)">
                        <img class="reviews__img1" src="./image/destop/reviews-img1" alt="" />
                      </picture>
                    <div class="reviews__text-block">
                        <p class="reviews__text">
                            Записалася до лікаря через сайт, мені передзвонили, щоб підтвердити запис. Розмовляли ввічливо і відповіли на всі мої запитання про прийом. Це дуже зручно, мені сподобалось.
                        </p>
                    </div>
                </div>
                <div>
                    <picture class="reviews__img">
                        <source srcset="./image/destop/reviews-img2@1x.webp 1x, ./image/destop/reviews-img2@2x.webp 2x" media="(min-width: 1280px)">
                        <source srcset="./image/tablet/reviews-img2@1x.webp 1x, ./image/tablet/reviews-img2@2x.webp 2x" media="(min-width: 736px)">
                        <img class="reviews__img1" src="./image/destop/reviews-img2" alt="" />
                      </picture>
                    <div class="reviews__text-block">
                        <p class="reviews__text">
                            Звернулась за допомогою у Евіденс, і отримала чудовий результат. Провели відео-консультацію, я отримала всі відповіді на питання. Дуже зручно!
                        </p>
                    </div>
                </div>
                <svg class="reviews__icon">
                    <use href="../../image/icons/symbol-defs.svg#icon-arrow"></use>
                </svg>
            </li>
            <!-- <div class="reviews__box">
                <div class="reviews__mobile-section">
                    <h2 class="reviews__subtitle">Питання-відповідь</h2>
                    <h3 class="reviews__subtitle2">Загальні питання</h3>
                    <ul>
                        <li>
                            <p class="reviews__discription">Реєстрація та вхід</p>
                        </li>
                        <li>
                            <p class="reviews__discription">Вакцинація</p>
                        </li>
                        <li>
                            <p class="reviews__discription">Відео-консультація</p>
                        </li>
                    </ul>
                </div>
                <li class="">
                    <div>
                        <img src="../../image/icons/reviews-art.svg" class="reviews__art">
                        </img>
                    </div>
                </li>
            </div> -->
        </ul>
    </div>
</section>