 <!-- <section class="servise">
    <div class="container">
        <h1 class="servise__title">Послуги та вартість</h1>

        <div class="r servise__middle">

            <div class="s">
                <input type="radio" class="servise__input" name="r" id="r1" checked>
                <input type="radio" class="servise__input" name="r" id="r2">
                <input type="radio" class="servise__input" name="r" id="r3">
                <input type="radio" class="servise__input" name="r" id="r4">

                <ul class="servise__list">
                    <li class="servise__list-item ">
                        <svg width="94" height="100" class="servise__icon">
                            <use href="./../../image/icons/symbol-defs.svg#icon-Baby-face"></use>
                        </svg>

                        <p class="servise__text">Педіатрія</p>
                    </li>
                    <li class="servise__list-item ">
                        <svg  width="95" height="100" class="servise__icon">
                            <use href="./../../image/icons/symbol-defs.svg#icon-syringe"></use>
                        </svg>
                        <p class="servise__text">Вакцинація</p>
                    </li>
                    <li class="servise__list-item ">
                        <svg  width="100" height="100" class="servise__icon">
                            <use href="./../../image/icons/symbol-defs.svg#icon-muscles"></use>
                        </svg>
                        <p class="servise__text">Ортопед</p>
                    </li>
                    <li class="servise__list-item ">
                        <svg  width="100" height="100" class="servise__icon">
                            <use href="./../../image/icons/symbol-defs.svg#icon-liver"></use>
                        </svg>
                        <p class="servise__text">Гастроентеролог</p>
                    </li>
                    <li class="servise__list-item ">
                        <svg  width="100" height="88" class="servise__icon">
                            <use href="./../../image/icons/symbol-defs.svg#icon-teeth"></use>
                        </svg>
                        <p class="servise__text">Стоматолог</p>
                    </li>
                    <li class="servise__list-item ">
                        <svg  width="90" height="100" class="servise__icon">
                            <use href="./../../image/icons/symbol-defs.svg#icon-doctor"></use>
                        </svg>
                        <p class="servise__text">Нефрролог</p>
                    </li>
                    <li class="servise__list-item ">
                        <svg  width="100" height="100" class="servise__icon">
                            <use href="./../../image/icons/symbol-defs.svg#icon-heart"></use>
                        </svg>
                        <p class="servise__text">Кардіолог</p>
                    </li>
                    <li class="servise__list-item ">
                        <svg  width="65" height="100" class="servise__icon">
                            <use href="./../../image/icons/symbol-defs.svg#icon-Kidney"></use>
                        </svg>
                        <p class="servise__text">Уролог</p>
                    </li>
                    <li class="servise__list-item ">
                        <svg  width="85" height="90" class="servise__icon">
                            <use href="./../../image/icons/symbol-defs.svg#icon-laboratory"></use>
                        </svg>
                        <p class="servise__text">Лабораторія</p>
                    </li>
                    <li class="servise__list-item ">
                        <svg  width="80" height="80" class="servise__icon">
                            <use href="./../../image/icons/symbol-defs.svg#icon-arrowright"></use>
                        </svg>
                        <p class="servise__text">Дивитись ще</p>
                    </li>
                </ul>


                <swiper-container class="mySwiper" pagination="true">
                    <swiper-slide>Slide 1</swiper-slide>
                    <swiper-slide>Slide 2</swiper-slide>
                    <swiper-slide>Slide 3</swiper-slide>
                    <swiper-slide>Slide 4</swiper-slide>
                    <swiper-slide>Slide 5</swiper-slide>
                    <swiper-slide>Slide 6</swiper-slide>
                    <swiper-slide>Slide 7</swiper-slide>
                    <swiper-slide>Slide 8</swiper-slide>
                    <swiper-slide>Slide 9</swiper-slide>
                  </swiper-container>
            </div>

        
        </div>
    </div>






    <div class="servise__modal">
        <button class="servise__modal-btn" type="button">x</button>
        <h1 class="servise__modal-title">Вакцинація</h1>
        <ul class="servise__modal-list">
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Назва перпарату</h2>
                <p class="servise__modal-text">Вартість</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація від кашлюку, дифтерії, правцю (Бустрікс)</h2>
                <p class="servise__modal-text">1980 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація від гепатиту А (Хаврикс)</h2>
                <p class="servise__modal-text">2457 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація від ротавірусної інфекції (Ротарикс)</h2>
                <p class="servise__modal-text">2680 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація Превенар (від пневмококової інфекції)</h2>
                <p class="servise__modal-text">1800 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація від кашлюку, дифтерії, правцю (Бустрікс)</h2>
                <p class="servise__modal-text">1980 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація від гепатиту А (Хаврикс)</h2>
                <p class="servise__modal-text">2457 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація від ротавірусної інфекції (Ротарикс)</h2>
                <p class="servise__modal-text">2680 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація Превенар (від пневмококової інфекції)</h2>
                <p class="servise__modal-text">1800 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація від кашлюку, дифтерії, правцю (Бустрікс)</h2>
                <p class="servise__modal-text">1980 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація від гепатиту А (Хаврикс)</h2>
                <p class="servise__modal-text">2457 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація від ротавірусної інфекції (Ротарикс)</h2>
                <p class="servise__modal-text">2680 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація Превенар (від пневмококової інфекції)</h2>
                <p class="servise__modal-text">1800 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація від кашлюку, дифтерії, правцю (Бустрікс)</h2>
                <p class="servise__modal-text">1980 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація від гепатиту А (Хаврикс)</h2>
                <p class="servise__modal-text">2457 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація від ротавірусної інфекції (Ротарикс)</h2>
                <p class="servise__modal-text">2680 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація Превенар (від пневмококової інфекції)</h2>
                <p class="servise__modal-text">1800 грн</p>
            </li>
        </ul>
    </div>




    <script src="../../../servise.js"></script>
    
</section>  -->






















 <section class="servise">
    <div class="container">
        <h1 class="servise__title">Послуги та вартість</h1>
        <div class="servise__slider">
            <input type="radio" name="slide" id="slide1" checked>
            <input type="radio" name="slide" id="slide2">
            <input type="radio" name="slide" id="slide3">
            <input type="radio" name="slide" id="slide4">

            <ul class="servise__list">
                <li class="servise__list-item">
                    <svg width="94" height="100" class="servise__icon">
                        <use href="./../../image/icons/symbol-defs.svg#icon-Baby-face"></use>
                    </svg>
                    <p class="servise__text">Педіатрія</p>
                </li>
                <li class="servise__list-item">
                    <svg width="95" height="100" class="servise__icon">
                        <use href="./../../image/icons/symbol-defs.svg#icon-syringe"></use>
                    </svg>
                    <p class="servise__text">Вакцинація</p>
                </li>
                <li class="servise__list-item">
                    <svg width="100" height="100" class="servise__icon">
                        <use href="./../../image/icons/symbol-defs.svg#icon-muscles"></use>
                    </svg>
                    <p class="servise__text">Ортопед</p>
                </li>
                <li class="servise__list-item">
                    <svg width="100" height="100" class="servise__icon">
                        <use href="./../../image/icons/symbol-defs.svg#icon-liver"></use>
                    </svg>
                    <p class="servise__text">Гастроентеролог</p>
                </li>
                <li class="servise__list-item">
                    <svg width="100" height="88" class="servise__icon">
                        <use href="./../../image/icons/symbol-defs.svg#icon-teeth"></use>
                    </svg>
                    <p class="servise__text">Стоматолог</p>
                </li>
                <li class="servise__list-item">
                    <svg width="90" height="100" class="servise__icon">
                        <use href="./../../image/icons/symbol-defs.svg#icon-doctor"></use>
                    </svg>
                    <p class="servise__text">Нефролог</p>
                </li>
                <li class="servise__list-item">
                    <svg width="100" height="100" class="servise__icon">
                        <use href="./../../image/icons/symbol-defs.svg#icon-heart"></use>
                    </svg>
                    <p class="servise__text">Кардіолог</p>
                </li>
                <li class="servise__list-item">
                    <svg width="65" height="100" class="servise__icon">
                        <use href="./../../image/icons/symbol-defs.svg#icon-Kidney"></use>
                    </svg>
                    <p class="servise__text">Уролог</p>
                </li>
                <li class="servise__list-item">
                    <svg width="85" height="90" class="servise__icon">
                        <use href="./../../image/icons/symbol-defs.svg#icon-laboratory"></use>
                    </svg>
                    <p class="servise__text">Лабораторія</p>
                </li>
                <li class="servise__list-item">
                    <svg width="80" height="80" class="servise__icon">
                        <use href="./../../image/icons/symbol-defs.svg#icon-arrowright"></use>
                    </svg>
                    <p class="servise__text">Дивитись ще</p>
                </li>
            </ul>
            <div class="servise__navigation">
                <label for="slide1" class="servise__bar"></label>
                <label for="slide2" class="servise__bar"></label>
                <label for="slide3" class="servise__bar"></label>
                <label for="slide4" class="servise__bar"></label>
            </div>
        </div>
    </div>


    <div class="servise__modal">
        <button class="servise__modal-btn" type="button">x</button>
        <h1 class="servise__modal-title">Вакцинація</h1>
        <ul class="servise__modal-list">
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Назва перпарату</h2>
                <p class="servise__modal-text">Вартість</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація від кашлюку, дифтерії, правцю (Бустрікс)</h2>
                <p class="servise__modal-text">1980 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація від гепатиту А (Хаврикс)</h2>
                <p class="servise__modal-text">2457 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація від ротавірусної інфекції (Ротарикс)</h2>
                <p class="servise__modal-text">2680 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація Превенар (від пневмококової інфекції)</h2>
                <p class="servise__modal-text">1800 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація від кашлюку, дифтерії, правцю (Бустрікс)</h2>
                <p class="servise__modal-text">1980 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація від гепатиту А (Хаврикс)</h2>
                <p class="servise__modal-text">2457 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація від ротавірусної інфекції (Ротарикс)</h2>
                <p class="servise__modal-text">2680 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація Превенар (від пневмококової інфекції)</h2>
                <p class="servise__modal-text">1800 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація від кашлюку, дифтерії, правцю (Бустрікс)</h2>
                <p class="servise__modal-text">1980 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація від гепатиту А (Хаврикс)</h2>
                <p class="servise__modal-text">2457 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація від ротавірусної інфекції (Ротарикс)</h2>
                <p class="servise__modal-text">2680 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація Превенар (від пневмококової інфекції)</h2>
                <p class="servise__modal-text">1800 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація від кашлюку, дифтерії, правцю (Бустрікс)</h2>
                <p class="servise__modal-text">1980 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація від гепатиту А (Хаврикс)</h2>
                <p class="servise__modal-text">2457 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація від ротавірусної інфекції (Ротарикс)</h2>
                <p class="servise__modal-text">2680 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація Превенар (від пневмококової інфекції)</h2>
                <p class="servise__modal-text">1800 грн</p>
            </li>
        </ul>
    </div>

    
</section> 
