<section class="servise">
    <div class="container">
        <h1 class="servise__title">Послуги та вартість</h1>
        <ul class="servise__list">
            <li class="servise__list-item">
                <svg class="servise__icon">
                    <use href=".//src/image/icons/Vector4.svg"></use>
                </svg>

                <!-- <svg class="team__svg">
                    <use href="./icon/symbol-defs.svg#linkedin"></use>
                  </svg> -->

                <p class="servise__text">Педіатрія</p>
            </li>
            <li class="servise__list-item">
                <svg class="servise__icon">
                    <use></use>
                </svg>
                <p class="servise__text">Вакцинація</p>
            </li>
            <li class="servise__list-item">
                <svg class="servise__icon">
                    <use></use>
                </svg>
                <p class="servise__text">Ортопед</p>
            </li>
            <li class="servise__list-item">
                <svg class="servise__icon">
                    <use></use>
                </svg>
                <p class="servise__text">Гастроентеролог</p>
            </li>
            <li class="servise__list-item">
                <svg class="servise__icon">
                    <use></use>
                </svg>
                <p class="servise__text">Стоматолог</p>
            </li>
            <li class="servise__list-item">
                <svg class="servise__icon">
                    <use></use>
                </svg>
                <p class="servise__text">Нефрролог</p>
            </li>
            <li class="servise__list-item">
                <svg class="servise__icon">
                    <use></use>
                </svg>
                <p class="servise__text">Кардіолог</p>
            </li>
            <li class="servise__list-item">
                <svg class="servise__icon">
                    <use></use>
                </svg>
                <p class="servise__text">Уролог</p>
            </li>
            <li class="servise__list-item">
                <svg class="servise__icon">
                    <use></use>
                </svg>
                <p class="servise__text">Лабораторія</p>
            </li>
            <li class="servise__list-item">
                <svg class="servise__icon">
                    <use></use>
                </svg>
                <p class="servise__text">Дивитись ще</p>
            </li>
        </ul>
    </div>
</section>
