<section class="servise">
    <div class="container">
        <h1 class="servise__title">Послуги та вартість</h1>
        <ul class="servise__list">
            <li class="servise__list-item">
                <svg width="94" height="100" class="servise__icon">
                    <use href="./../../image/icons/symbol-defs.svg#icon-Baby-face"></use>
                </svg>

                <!-- <svg class="team__svg">
                    <use href="./icon/symbol-defs.svg#linkedin"></use>
                  </svg> -->

                <p class="servise__text">Педіатрія</p>
            </li>
            <li class="servise__list-item">
                <svg  width="95" height="100" class="servise__icon">
                    <use href="./../../image/icons/symbol-defs.svg#icon-syringe"></use>
                </svg>
                <p class="servise__text">Вакцинація</p>
            </li>
            <li class="servise__list-item">
                <svg  width="100" height="100" class="servise__icon">
                    <use href="./../../image/icons/symbol-defs.svg#icon-muscles"></use>
                </svg>
                <p class="servise__text">Ортопед</p>
            </li>
            <li class="servise__list-item">
                <svg  width="100" height="100" class="servise__icon">
                    <use href="./../../image/icons/symbol-defs.svg#icon-liver"></use>
                </svg>
                <p class="servise__text">Гастроентеролог</p>
            </li>
            <li class="servise__list-item">
                <svg  width="100" height="88" class="servise__icon">
                    <use href="./../../image/icons/symbol-defs.svg#icon-teeth"></use>
                </svg>
                <p class="servise__text">Стоматолог</p>
            </li>
            <li class="servise__list-item">
                <svg  width="90" height="100" class="servise__icon">
                    <use href="./../../image/icons/symbol-defs.svg#icon-doctor"></use>
                </svg>
                <p class="servise__text">Нефрролог</p>
            </li>
            <li class="servise__list-item">
                <svg  width="100" height="100" class="servise__icon">
                    <use href="./../../image/icons/symbol-defs.svg#icon-heart"></use>
                </svg>
                <p class="servise__text">Кардіолог</p>
            </li>
            <li class="servise__list-item">
                <svg  width="65" height="100" class="servise__icon">
                    <use href="./../../image/icons/symbol-defs.svg#icon-Kidney"></use>
                </svg>
                <p class="servise__text">Уролог</p>
            </li>
            <li class="servise__list-item">
                <svg  width="85" height="90" class="servise__icon">
                    <use href="./../../image/icons/symbol-defs.svg#icon-laboratory"></use>
                </svg>
                <p class="servise__text">Лабораторія</p>
            </li>
            <li class="servise__list-item">
                <svg  width="80" height="80" class="servise__icon">
                    <use href="./../../image/icons/symbol-defs.svg#icon-arrowright"></use>
                </svg>
                <p class="servise__text">Дивитись ще</p>
            </li>
        </ul>
    </div>
</section>
