<div class="servise__modal-bacdrop is-hidden" data-modal>
    
    <section class="servise__modal" >
        <button class="servise__modal-btn" type="button" data-modal-close>
            <svg class="servise__modal-cross" width="30px" height="28px">
                <use href="../../image/icons/symbol-defs.svg#icon-cross"></use>
              </svg>
        </button>
        <h1 class="servise__modal-title">Вакцинація</h1>
        <ul class="servise__modal-list">
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Назва перпарату</h2>
                <p class="servise__modal-text">Вартість</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація від кашлюку, дифтерії, правцю (Бустрікс)</h2>
                <p class="servise__modal-text">1980 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація від гепатиту А (Хаврикс)</h2>
                <p class="servise__modal-text">2457 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація від ротавірусної інфекції (Ротарикс)</h2>
                <p class="servise__modal-text">2680 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація Превенар (від пневмококової інфекції)</h2>
                <p class="servise__modal-text">1800 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація від кашлюку, дифтерії, правцю (Бустрікс)</h2>
                <p class="servise__modal-text">1980 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація від гепатиту А (Хаврикс)</h2>
                <p class="servise__modal-text">2457 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація від ротавірусної інфекції (Ротарикс)</h2>
                <p class="servise__modal-text">2680 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація Превенар (від пневмококової інфекції)</h2>
                <p class="servise__modal-text">1800 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація від кашлюку, дифтерії, правцю (Бустрікс)</h2>
                <p class="servise__modal-text">1980 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація від гепатиту А (Хаврикс)</h2>
                <p class="servise__modal-text">2457 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація від ротавірусної інфекції (Ротарикс)</h2>
                <p class="servise__modal-text">2680 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація Превенар (від пневмококової інфекції)</h2>
                <p class="servise__modal-text">1800 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація від кашлюку, дифтерії, правцю (Бустрікс)</h2>
                <p class="servise__modal-text">1980 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація від гепатиту А (Хаврикс)</h2>
                <p class="servise__modal-text">2457 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація від ротавірусної інфекції (Ротарикс)</h2>
                <p class="servise__modal-text">2680 грн</p>
            </li>
            <li class="servise__modal-item">
                <h2 class="servise__modal-subtitle">Вакцинація Превенар (від пневмококової інфекції)</h2>
                <p class="servise__modal-text">1800 грн</p>
            </li>
        </ul>
    </section> 
</div>