$main-text-color: #3A3B3D;
$button-text: #ffffff;
$bg-color: #ECEFF7;
$hero-animation: #FEE184; 
$btn-bg: #72B7F2;
$accent-color: #2887D9; 
$light-pink: #F3DFEA;
$light-blue: #D0E1F1;
$sky-blue: #CEF2F0;
$light-yellow: #FCE296;