<section class="appointment">
  <div class="container">
    <img src="" alt="hand" class="appointment__img" />
    <h2 class="appointment__title">Допоможемо знайти лікаря</h2>
    <ul class="appointment__list">
      <li class="appointment__itme">
        <form class="appointment__form">
          <input
            type="text"
            class="appointment__input"
            placeholder="Як до вас звернутись?"
            required
          />
        </form>
      </li>
      <li class="appointment__itme">
        <form class="appointment__form">
          <input
            type="tel"
            class="appointment__input"
            placeholder="+380(___) ___ -__-__"
            required
          />
        </form>
      </li>
    </ul>
    <p class="appointment__text">Як з вами краще зв’язатися?    </p>
    <form action="" class="appointment__send">
      <input type="radio" class="appointment__choose">
    </form>
  </div>
</section>
