<section class="appointment">
  <div class="container appointment__container">
    <div class="appointment__imgwrap">
      <picture>
        <source
          srcset="
            ../../image/destop/appointment-bg@1x.webp 1x,
            ../../image/destop/appointment-bg@2x.webp 2x
          "
          media="(min-width: 1740px)"
        />
        <source
          srcset="
            ../../image/tablet/appointment-bg@1x.webp 1x,
            ../../image/tablet/appointment-bg@2x.webp 2x
          "
          media="(min-width: 1306px)"
        />
        <source
          srcset="
            ../../image/mobile/appointment-bg@1x.webp 1x,
            ../../image/mobile/appointment-bg@2x.webp 2x
          "
          media="(min-width: 310px)"
        />
        <img
          src="../../image/mobile/appointment-bg@1x.webp"
          alt="hand"
          class="appointment__img"
        />
      </picture>
    </div>
    <form class="appointment__form">
      <h2 class="appointment__title">Допоможемо знайти лікаря</h2>
      <ul class="appointment__list">
        <li class="appointment__item">
          <input
            type="text"
            class="appointment__input"
            placeholder="Як до вас звернутись?"
            required
          />
        </li>
        <li class="appointment__item">
          <input
            type="tel"
            class="appointment__input"
            placeholder="+380(___) ___ -__-__"
            required
          />
        </li>
      </ul>
      <div class="appointment__choice">
        <a href="#" class="appointment__text">Як з Вами краще зв’язатись?</a>
        <div class="appointment__select">
          <div class="appointment__wrap">
            <input
              type="radio"
              class="appointment__choose"
              id="appointment__choose"
              name="choose"
              value="viber"
              checked
            />
            <label for="viber" class="appointment__label"
              >Напишіть мені на Viber</label
            >
          </div>
          <div class="appointment__wrap">
            <input
              type="radio"
              class="appointment__choose"
              id="appointment__choose2"
              name="choose"
              value="tel"
            />
            <label for="tel" class="appointment__label">Подзвоніть мені</label>
          </div>
        </div>
      </div>
      <button
        class="appointment__button appointment__button-desktop"
        type="submit"
      >
        Відправити
      </button>
      <button
        class="appointment__button appointment__button-mobile"
        type="submit"
      >
        Зателефонуйте
      </button>
    </form>
  </div>
</section>
