<button class="call__btn" type="button" data-call-open>
  <div class="call__cirkle">
    <svg class="call__icon" width="26px" height="24px">
      <use href="../../image/icons/icn.svg#icon-telephone"></use>
    </svg>
  </div>
</button>
<div class="backdrop is-hidden" data-call>
  <section class="call">
    <button class="call__close" data-call-close>
      <svg class="call__cross" width="26px" height="24px">
        <use href="../../image/icons/icn.svg#icon-closesquare"></use>
      </svg>
    </button>

    <h3 class="call__title">Хочете, зателефонуємо Вам за 30 секунд?</h3>
    <form action="" class="call__form">
      <input type="tel" class="call__input" placeholder="Ваш номер телефону" />
      <button class="call__button" type="submit">Зателефонуйте</button>
    </form>
    <p class="call__timer">00:<span class="call__timer-big">29</span>:99</p>
  </section>
</div>
