<section class="docs">
  <div class="container">
    <h1 class="docs__title">Лікарі</h1>
    <form class="docs__form">
      <input type="text" class="docs__input" placeholder="E-mail" required />
    </form>
    <h2 class="docs__subtitle">Головна</h2>
    <svg class="docs__icon" width="24px" height="24px">
      <use href=""></use>
    </svg>
    <h2 class="docs__subtitle-blue">Знайти лікаря</h2>
    <ul class="docs__list">
      <li class="docs__item">
        <h3 class="docs__occupation">Всі лікарі</h3>
      </li>
      <li class="docs__item">
        <h3 class="docs__occupation">Педіатр</h3>
      </li>
      <li class="docs__item">
        <h3 class="docs__occupation">Хірург</h3>
      </li>
      <li class="docs__item">
        <h3 class="docs__occupation">Кардіолог</h3>
      </li>
      <li class="docs__item">
        <h3 class="docs__occupation">Невролог</h3>
      </li>
      <li class="docs__item">
        <h3 class="docs__occupation">Гастроентеролог</h3>
      </li>
      <li class="docs__item">
        <h3 class="docs__occupation">Інфекціоніст</h3>
      </li>
    </ul>
    <ul class="docs__doctors">
      <li class="docs__doctor">
        <h4 class="docs__name"></h4>
        <p class="docs__text"></p>
      </li>
      <li class="docs__doctor">
        <h4 class="docs__name"></h4>
        <p class="docs__text"></p>
      </li>
      <li class="docs__doctor">
        <h4 class="docs__name"></h4>
        <p class="docs__text"></p>
      </li>
      <li class="docs__doctor">
        <h4 class="docs__name"></h4>
        <p class="docs__text"></p>
      </li>
      <li class="docs__doctor">
        <h4 class="docs__name"></h4>
        <p class="docs__text"></p>
      </li>
      <li class="docs__doctor">
        <h4 class="docs__name"></h4>
        <p class="docs__text"></p>
      </li>
      <li class="docs__doctor">
        <h4 class="docs__name"></h4>
        <p class="docs__text"></p>
      </li>
      <li class="docs__doctor">
        <h4 class="docs__name"></h4>
        <p class="docs__text"></p>
      </li>
      <li class="docs__doctor">
        <h4 class="docs__name"></h4>
        <p class="docs__text"></p>
      </li>
      <li class="docs__doctor">
        <h4 class="docs__name"></h4>
        <p class="docs__text"></p>
      </li>
      <li class="docs__doctor">
        <h4 class="docs__name"></h4>
        <p class="docs__text"></p>
      </li>
      <li class="docs__doctor">
        <h4 class="docs__name"></h4>
        <p class="docs__text"></p>
      </li>
    </ul>
  </div>
</section>
