<section class="docs">
  <div class="container">
    <div class="docs__search">
      <div class="docs__wrap">
          <h1 class="docs__title">Лікарі</h1>    
      </div> 
      <form class="docs__form">
        <input
          type="text"
          class="docs__input"
          placeholder="Шукати ім’я, професію"
          required
        />
      </form>
    </div>
    <div class="docs__nav">
      <h2 class="docs__subtitle">Головна</h2>
      <svg class="docs__arrow">
        <use href="../../image/icons/symbol-defs.svg#icon-arrowright"></use>
      </svg>
      <h2 class="docs__subtitle-blue">Знайти лікаря</h2>
    </div>
    <ul class="docs__list">
      <li class="docs__item">
        <h3 class="docs__occupation">Всі лікарі</h3>
      </li>
      <li class="docs__item">
        <h3 class="docs__occupation">Педіатр</h3>
      </li>
      <li class="docs__item">
        <h3 class="docs__occupation">Хірург</h3>
      </li>
      <li class="docs__item">
        <h3 class="docs__occupation">Кардіолог</h3>
      </li>
      <li class="docs__item">
        <h3 class="docs__occupation">Невролог</h3>
      </li>
      <li class="docs__item">
        <h3 class="docs__occupation">Гастроентеролог</h3>
      </li>
      <li class="docs__item">
        <h3 class="docs__occupation">Інфекціоніст</h3>
      </li>
    </ul>
    <ul class="docs__biglist">
      <li class="docs__bigitem">
        <ul class="docs__doctors1">
          <li class="docs__doctor">
            <img
              src="../../image/destop/portfolio-img1@1x.webp"
              alt="doctor"
              class="docs__img"
            />
            <h4 class="docs__name">Ткачук Олег Миколайович</h4>
            <p class="docs__text">Кардіолог</p>
          </li>
          <li class="docs__doctor">
            <img
              src="../../image/destop/portfolio-img2@1x.webp"
              alt="doctor"
              class="docs__img"
            />
            <h4 class="docs__name">Ткачук Олег Миколайович</h4>
            <p class="docs__text">Кардіолог</p>
          </li>
          <li class="docs__doctor">
            <img
              src="../../image/destop/portfolio-img3@1x.webp"
              alt="doctor"
              class="docs__img"
            />
            <h4 class="docs__name">Тригуб Анна Вадимівна</h4>
            <p class="docs__text">Педіатр</p>
          </li>
          <li class="docs__doctor">
            <img
              src="../../image/destop/portfolio-img4@1x.webp"
              alt="doctor"
              class="docs__img"
            />
            <h4 class="docs__name">Дронь Алла Сергіївна</h4>
            <p class="docs__text">Невролог</p>
          </li>
        </ul>
      </li>
      <li class="docs__bigitem">
        <ul class="docs__doctors2">
          <li class="docs__doctor">
            <img
              src="../../image/destop/portfolio-img5@1x.webp"
              alt="doctor"
              class="docs__img"
            />
            <h4 class="docs__name">Пархомчук Альона Василівна</h4>
            <p class="docs__text">Педіатр</p>
          </li>
          <li class="docs__doctor">
            <img
              src="../../image/destop/portfolio-img6@1x.webp"
              alt="doctor"
              class="docs__img"
            />
            <h4 class="docs__name">Білошицька Анна Олександрівна</h4>
            <p class="docs__text">Консультант з грудного вигодовування</p>
          </li>
          <li class="docs__doctor">
            <img
              src="../../image/destop/portfolio-img7@1x.webp"
              alt="doctor"
              class="docs__img"
            />
            <h4 class="docs__name">Шевчук Ірина Михайлівна</h4>
            <p class="docs__text">Дитяча лікарка УЗД</p>
          </li>
          <li class="docs__doctor">
            <img
              src="../../image/destop/portfolio-img8@1x.webp"
              alt="doctor"
              class="docs__img"
            />
            <h4 class="docs__name">Демчишин Ярослав Павлович</h4>
            <p class="docs__text">Інфекціоніст</p>
          </li>
        </ul>
      </li>
      <li class="docs__bigitem">
        <ul class="docs__doctors3">
          <li class="docs__doctor">
            <img
              src="../../image/destop/portfolio-img9@1x.webp"
              alt="doctor"
              class="docs__img"
            />
            <h4 class="docs__name">Маліновський Дмтро Сергійович</h4>
            <p class="docs__text">Вертерболог</p>
          </li>
          <li class="docs__doctor">
            <img
              src="../../image/destop/portfolio-img10@1x.webp"
              alt="doctor"
              class="docs__img"
            />
            <h4 class="docs__name">Вовк Анатолій Вікторович</h4>
            <p class="docs__text">Лікар УЗД</p>
          </li>
          <li class="docs__doctor">
            <img
              src="../../image/destop/portfolio-img11@1x.webp"
              alt="doctor"
              class="docs__img"
            />
            <h4 class="docs__name">Янощук Ольга Василівна</h4>
            <p class="docs__text">Педіатр</p>
          </li>
          <li class="docs__doctor">
            <img
              src="../../image/destop/portfolio-img12@1x.webp"
              alt="doctor"
              class="docs__img"
            />
            <h4 class="docs__name">Ямкова Ольга Олександрівна</h4>
            <p class="docs__text">Гастроентеролог</p>
          </li>
        </ul>
      </li>
    </ul>
    <div class="docs__wrap">
      <a href="" class="docs__link"
        >Дивитись ще
        <svg class="docs__icon" width="24px" height="24px">
          <use href="../../image/icons/symbol-defs.svg#icon-repeat"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
