<section class="doctor" data-doctor>
  <div class="container doctor__container">
    <button class="doctor__btn" data-doctor-close>
      <svg class="doctor__cross" width="26px" height="24px">
        <use href="../../image/icons/symbol-defs.svg#icon-cross"></use>
      </svg>
    </button>
    <div class="doctor__wrapper">
      <picture>
        <source
          srcset="
            ../../image/destop/doctor-desktop@1x.webp 1x,
            ../../image/destop/doctor-desktop@2x.webp 2x
          "
          media="(min-width: 1740px)"
        />
        <source
          srcset="
            ../../image/tablet/doctor-tablet@1x.webp 1x,
            ../../image/tablet/doctor-tablet@2x.webp 2x
          "
          media="(min-width: 1306px)"
        />
        <source
          srcset="
            ../../image/mobile/doctor-mobile@1x.webp 1x,
            ../../image/mobile/doctor-mobile@2x.webp 2x
          "
          media="(min-width: 310px)"
        />
        <img
          src="../../image/mobile/doctor-mobile@1x.webp"
          alt="hand"
          class="doctor__image"
        />
      </picture>
      <div class="doctor__describtion">
        <h1 class="doctor__title">Демчишин Ярослав Павлович</h1>
        <p class="doctor__text">
          <span class="doctor__text-bold">Спеціалізація:</span>Лікар
          інфекціоніст
        </p>
        <p class="doctor__text">
          <span class="doctor__text-bold">Стаж роботи:</span>5 років
        </p>
        <button class="doctor__button" type="button">
          Записатись на прийом
        </button>
      </div>
    </div>
    <div class="doctor__info">
      <ul class="doctor__list">
        <li class="doctor__item">
          <h3 class="doctor__information">Робочі години:</h3>
          <div class="doctor__time">
            <p class="doctor__contacts">Пн, Ср, Пт</p>
            <p class="doctor__contacts">08:00 - 16:30</p>
          </div>
        </li>
        <li class="doctor__item">
          <h3 class="doctor__information">Контакти:</h3>
          <p class="doctor__contacts">Тел. +38097 555 99 99</p>
        </li>
      </ul>
      <div>
        <h4 class="doctor__subtitle">Професійна діяльність:</h4>
        <div class="doctor__wrap">
          <p class="doctor__maintext">
            Закінчив ВНМУ ім. М. І. Пирогова у 2018 році за спеціальністю
            «Лікувальна справа» з відзнакою.
          </p>
          <p class="doctor__maintext">
            Рішенням Вченої ради ВНМУ ім. М. І. Пирогова залишений на наукову
            роботу
            <span class="doctor__maintext-wrap"
              >на кафедрі дитячих інфекційних хвороб. Протягом 2017-2018
              навчального року працював лаборантом кафедри соціальної медицини
              та організації охорони здоров’я ВНМУ ім. М. І. Пирогова. В 2019
              року здобув первинну спеціалізацію “Інфекційні хвороби”.</span
            >
          </p>
          <!-- <p class="doctor__maintext">
            Рішенням Вченої ради ВНМУ ім. М. І. Пирогова залишений на наукову
            роботу на кафедрі дитячих інфекційних хвороб. 
          </p>
          <p class="doctor__maintext">
            <span class="doctor__maintext-wrap">Протягом 2017-2018
              навчального року працював лаборантом кафедри соціальної медицини
              та організації охорони здоров’я ВНМУ ім. М. І. Пирогова. В 2019
              року здобув первинну спеціалізацію “Інфекційні хвороби”.</span
            >
          </p> -->
        </div>
      </div>
    </div>
    <a href="" class="doctor__link">Читати далі</a>
    <h3 class="doctor__clients">Що говорять наші клієнти</h3>
    <div class="doctor__reviews">
      <img class="doctor__review-img" src="../../image/mobile/reviews-img1@2x.webp" alt="" />
      <p class="doctor__review">
        Записалася до лікаря через сайт, мені передзвонили, щоб підтвердити
        запис. Розмовляли ввічливо і відповіли на всі мої запитання про прийом.
        Це дуже зручно, мені сподобалось.
      </p>
    </div>
  </div>
</section>
