.menu {
  padding-left: 13px;
  padding-right: 13px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $bg-color;
  z-index: 3;
  overflow-y: scroll;

  &__box {
    @include flex-mixin($justify-content: space-between, $align-items: center);
 max-width: 342px;
  }

  &__header {
    @include flex-mixin($justify-content: space-between, $align-items: center);
  }

  &__logo-list {
    display: flex;
    justify-content: center;
  }

  &__icon-close {
    stroke: $btn-bg;
    fill: $bg-color;
    background-color: $bg-color;
    width: 24px;
    height: 24px;
    margin-right: 58px;
  }

  &__search {
    margin-left: 44px;
  }

  &__registration-list {
    @include flex-mixin($justify-content: space-between, $align-items: start);
    padding: 10px 22px;
    border: 1px solid $btn-bg;
  }

  &__login-text {
    color: $main-text-color;
    @include font($font-weight: 400, $font-size: 16px);
    line-height: normal;
  }

  &__login-eng {
    color: $light-blue;
    @include font($font-weight: 400, $font-size: 16px);
    line-height: normal;
  }

  &__personality {
    width: 24px;
    height: 24px;
    stroke: $btn-bg;
  }

  &__global {
    stroke: $btn-bg;
    fill: $bg-color;
    width: 24px;
    height: 24px;
  }

  &__registration-item {
    display: flex;
  }

  &__item {
    margin-bottom: 8px;
  }

  &__item::after {
    content: "";
    display: block;
    width: 356px;
    height: 1.3px;
    background: $light-blue;
    border-radius: 1px;
  }

  &__link {
    @include font($font-weight: 400, $font-size: 16px);
    color: $main-text-color;
    line-height: 44px;
  }

  &__first-list {
    @include gap-mixin($gap: 16px);
    padding-top: 12px;
    width: 387px;
    padding-bottom: 12px;
    flex-direction: column;
  }
}
