.numbers {
    background:  $bg-color;
    padding-top: 32px;
    // padding-bottom: 50px;
    // outline: solid black 2px;

    @media screen and (min-width: 1306px) {
        
      }  

        @media screen and (min-width: 1740px) {
            padding-top: 100px;
            padding-bottom: 50px;
        }

    &__title {
        color: $accent-color;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 22px;
        text-align: center;

        @media screen and (min-width: 1306px) {
            font-size: 34.15px;
            font-weight: 600;
            line-height: 31.304px; /* 91.667% */
            text-align: start;
         }  
 
           @media screen and (min-width: 1740px) {
            margin-bottom: 50px;
               
           }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        // width: 390px;
        // display: block;
        // margin-right: auto;
        // margin-left: auto;
        // justify-content: center;
        display: flex;
        // align-items: center;
        justify-content: center;

        @media screen and (min-width: 400px){
            width: 390px;
            justify-content: start;
        }

        @media screen and (min-width: 1306px) {
            display: start;
            width: 1240px;
            display: flex;
            flex-wrap: wrap;
            margin-right: 0;
            margin-left: 0;
         }  
 
           @media screen and (min-width: 1740px) {
            width: 1721px;
           }

    }

    &__list > &__list-item:nth-child(1) {
        color: #EDBBD6;
        text-align: center;
        font-size: 113.833px;
        font-weight: 300;
        background: #F3DFEA;
        width: 315px;
        height: 120px;
        flex-wrap: wrap;
        // display: flex;
        align-items: end;

        @media screen and (min-width: 400px) {
            display: flex;
            flex-wrap: wrap;
            width: 390px;
            height: 86px;
        }
        

        @media screen and (min-width: 1306px) {
            display: block;
            border-radius: 40px 0px 0px 0px;
            width: 620px;
            height: 280px;
         }  
 
           @media screen and (min-width: 1740px) {
            width: 874px;
            height: 400px;
           }
    }

    &__list > &__list-item:nth-child(2) {
        color: #72B7F2;
        text-align: center;
        font-size: 106.719px;
        font-weight: 300;
        background: #D0E1F1;
        width: 315px;
        height: 120px;
        
        // display: flex;
        align-items: end;

        @media screen and (min-width: 400px) {
            display: flex;
            flex-wrap: wrap;
            width: 390px;
            height: 86px;
        }

        @media screen and (min-width: 1306px) {
            display: block;
            border-radius: 0px 40px 0px 0px;
            width: 620px;
            height: 280px;
            // padding-left: 75px;
         }  
 
           @media screen and (min-width: 1740px) {
            width: 847px;
            height: 400px;
           }
    }

    &__list > &__list-item:nth-child(3) {
        color: #58D7D0;
        text-align: center;
        font-size: 106.719px;
        font-weight: 300;
        background: #CEF2F0;
        width: 315px;
        height: 120px;
        flex-wrap: wrap;
        // display: flex;
        align-items: end;

        @media screen and (min-width: 400px) {
            display: flex;
            flex-wrap: wrap;
            width: 390px;
            height: 86px;
        }

        @media screen and (min-width: 1306px) {
            display: block;
            border-radius: 0px 0px 0px 40px;
            width: 620px;
            height: 280px;
         }  
 
           @media screen and (min-width: 1740px) {
            width: 874px;
            height: 400px;
        }    
    }

    &__list > &__list-item:nth-child(4) {
            color: #FACF4F;
            text-align: center;
            font-size: 106.719px;
            font-weight: 300;
            background: var(--fce-296, #FCE296);
            flex-wrap: wrap;
            // display: flex;
            align-items: end;
            width: 315px;
            height: 120px;

        @media screen and (min-width: 400px) {
            width: 390px;
            height: 86px;
            flex-wrap: wrap;
            display: flex;
            align-items: end;
           }

        @media screen and (min-width: 1306px) {
            background: var(--fce-296, #FCE296);
            display: block;
            border-radius: 0px 0px 40px 0px;
            width: 620px;
            height: 280px;
            // padding-left: 75px;
         }  
 
           @media screen and (min-width: 1740px) {
            width: 847px;
            height: 400px;
           }

           
    }

    &__subtitle {
        font-size: 64px;
        margin-left: 24px;
        display: flex;
        justify-content: center;
        @media screen and (min-width: 400px) {
            font-size: 64px;
            margin-left: 24px;
            display: flex;
            justify-content: start;
        }


        @media screen and (min-width: 1306px) {
            display: block;
            margin-top: 54px;
            font-size: 106px;
         }  

    }

    &__subtitle:nth-child(1) {
        margin-left: 16px;
    }

    &__text {
        color: $accent-color;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
        width: 154px;
        margin-bottom: 19px;
        padding-bottom: 20px;
        margin-left: auto;
        margin-right: auto;


        @media screen and (min-width: 400px) {
            color: $accent-color;
            // text-align: center;
            font-family: "Open Sans";
            font-size: 16px;
            font-weight: 400;
            width: 154px;
            // text-align: start;
            padding-bottom: 0;
            margin-bottom: 19px;
            margin-left: auto;
            margin-right: 0;
        }

        @media screen and (min-width: 1306px) {
            // display: flex;
            // flex: start;
            
            width: 354px;
            margin-left: 150px;
            margin-bottom: 50px;
            font-size: 22.767px;
          }  

        @media screen and (min-width: 1740px) {
            margin-right: auto;
            margin-left: auto;
           
           }
    }

    &__icon {
        width: 206px;
        height: 206px;
        // top: 20px;
        // left: 50px;
    }

//     &__first-item {
//         position: relative;
//         overflow: hidden;
//     }

//     &__first-item > &__icon:nth-child(3) {
//         // background-color: darkblue;
//         position: absolute;
//         top: -20px;
//         left: 28px;
//         width: 206px;
//         height: 206px;

//     }

//     &__first-item > &__icon:nth-child(4) {
//         // background-color: rgb(88, 0, 139);
//         position: absolute;
//         top: 180px;
//         left: 0;
//         width: 206px;
//         height: 206px;
//     }


// // threeeee

//     &__three-item {
//         position: relative;
//         overflow: hidden;
//     }

//     &__three-item > &__icon:nth-child(3) {
//         background-color: darkblue;
//         position: absolute;
//         top: 40px;
//         left: 28px;
//         width: 70px;
//         height: 66px;

//     }

//     &__three-item > &__icon:nth-child(4) {
//         background-color: rgb(88, 0, 139);
//         position: absolute;
//         top: 40px;
//         left: 40px;
//         width: 76px;
//         height: 76px;
//     }

// //     width: 193px;
// // height: 174.6px;

}