.qestion {
        background:  $bg-color;
        padding-top: 24px;
        padding-bottom: 55px;
        // outline: solid yellow 2px;

        @media screen and (min-width: 1306px) {
            
         }
 
           @media screen and (min-width: 1740px) {
            padding-top: 24px;
            padding-bottom: 93px;
           }
    

    &__title {
        color: $accent-color;
        font-family: "Open Sans";
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 44px; /* 91.667% */
        text-align: center;
        display: none;
       
        // margin-bottom: 20px;

        @media screen and (min-width: 400px) {
            font-size: 16px;
            font-weight: 600;
        }


        @media screen and (min-width: 1306px) {
            display: block;
            font-size: 34px;
            text-align: start;
            // margin-bottom: 24px;
         }
 
           @media screen and (min-width: 1740px) {
            // margin-bottom: 74px;
            font-size: 48px;
           }
    }

    &__title-first {
        display: block;
        color: $accent-color;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 600;
        line-height: 22px; /* 91.667% */
        padding-bottom: 7px;

        @media screen and (min-width: 400px) {
            padding-bottom: 0;
            line-height: 44px; /* 91.667% */
        }

        @media screen and (min-width: 1306px) {
            display: none;
         }
    }

    &__wrapper {
        display: flex;
        justify-content: center;
    }
    

    &__first-link {
        display: flex;
        flex-direction: column;
        border-radius: 50px;
        margin-bottom: 20px;
        margin-right: 20px;
        gap: 4px;

        @media screen and (min-width: 400px) {
            font-size: 16px;
            font-weight: 600;
            margin-right: 39px;
        }
        
        
        @media screen and (min-width: 1306px) {
            gap: 40px;
            background: #F3DCDC;
            width: 320px;
            height: 1042.998px;
            padding: 40px;
            margin-right: 120px;
            margin-left: 0;
            margin-top: 24px;
         }
 
           @media screen and (min-width: 1740px) {
            background: #F3DCDC;
            height: 100px;
            padding: 56px;
            gap: 56px;
            width: 449px;
            height: 1466px;
            margin-right: 125px;
            margin-top: 74px;
           }
    }

    &__link {
        color: $main-text-color;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 22px; /* 137.5% */
        width: 149px;

        @media screen and (min-width: 400px) {
            font-size: 16px;
        }

        
        @media screen and (min-width: 1306px) {
            font-size: 23px;
            font-weight: 600;
            width: 224px;
         }
 
           @media screen and (min-width: 1740px) {
            font-size: 32px;
            line-height: 44px;
            width: 312px;
           }
    }

    &__link:hover {
        color: #2887D9;
    }

    
    &__icon-doctor-child {
        display: block;

        @media screen and (min-width: 1306px) {
           display: none;
         }
 
           @media screen and (min-width: 1740px) {
            
           }
    }
   
    &__open-list {
        display: none;

        @media screen and (min-width: 1306px) {
            display: block;
            // display: flex;
            flex-wrap: wrap;
            flex-direction: column;
         }
 
           @media screen and (min-width: 1740px) {
            
           }
    }


    &__open-item {
        display: flex;
        align-items: center;
        border: solid 1px rgba(250, 250, 250, 0.20);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;

        @media screen and (min-width: 1306px) {
            width: 748px;
         }
 
           @media screen and (min-width: 1740px) {
            width: 1052px;
           }
    }

   

    &__open-link {
        color: $accent-color;
        font-family: "Open Sans";
        font-weight: 600;
        // border-bottom: solid $accent-color 1px;

        
        // background-color: rgb(113, 129, 89);

        @media screen and (min-width: 1306px) {
            font-size: 23px;
            padding-top: 24px;
            padding-bottom: 24px;
         }
 
           @media screen and (min-width: 1740px) {
            font-size: 32px;
            padding-top: 32px;
            padding-bottom: 32px;
           }
    }

    


    &__icon {
        // display: flex;
        margin-left: auto;
        margin-right: 32px;

        @media screen and (min-width: 1306px) {
            width: 30px; 
            height: 30px;
            font-size: 23px;
            margin-right: 24px;
         }
 
           @media screen and (min-width: 1740px) {
            width: 41px; 
            height: 42px;
            margin-right: 32px;
           }
    }



// &__text{
    //     font-weight: 500;
    //     font-size: 16px;
    //     line-height: 150%;
    //     letter-spacing: -0.02em;
    //     color: red;
    //     width: 343px;

    //     @media screen and (min-width: 768px) {
    //         width: 656px;
    //     }
    // }







    // probaaa






    &__input {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    &__paragraph {
        max-height: 0;
        overflow: hidden;
        transition: all 0.35s;
    }


    

    &__open-item input:checked ~ .qestion__paragraph {
        max-height: 670px;
        // vusota usogo 
    }

    

    // 

    &__subtitle {
        display: flex;
        
        // font-weight: 600;
        // font-size: 20px;
        // line-height: 150%;
        // letter-spacing: -0.02em;
        // color: green;
        // margin-bottom: 26px;
        // text-align: left;
        // align-items: center;
        // padding-right: 20px;

        @media screen and (min-width: 1306px) {
            padding-right: 32px;
        }
    }


    &__subtitle::after {
        content: url(../../../image/destop/plus.webp);
        width: 30px;
        height: 30px;
        // background-color: chartreuse;
        text-align: center;
        align-items: center;
        transition: all 0.35s;
        position: absolute;
        top: 30px;
        right: 50px;

    }

    &__open-item input:checked + .qestion__subtitle::after {
        content: url(../../../image/destop/minus.webp);
        width: 30px;
        height: 30px;
        display: flex;
        text-align: center;
        // align-items: center;
        justify-content: center;
        // background-color: aqua;
        transition: all 0.35s;
        margin-left: 100px
        
    }

    &__open-item input:checked + .qestion__line-left {
        display: none;
    }
    
    &__paragraph {
        border-bottom: solid $accent-color 1px;
        display: none;
        

        @media screen and (min-width: 1306px) {
            width: 748px;
            display: block;
        }

        @media screen and (min-width: 1740px) {
            width: 1052px;
        }
    }

    &__paragraph p {
        
        padding-left: 20px;

        @media screen and (min-width: 1306px) {
            padding-bottom: 10px;
        }

        @media screen and (min-width: 1740px) {
            padding-bottom: 20px;
        }
    }


    &__choice-list {
        margin-top: 35px;
        width: 650px;
    }

    &__choice-text {
        color: #3A3B3D;
        font-family: "Open Sans";
        font-size: 22.767px;
        font-weight: 500;
    }

    &__art {
        width: 150px;
        height: 150px;
        display: block;

        @media screen and (min-width: 1306px) {
            display: none;
        }
    }
   
}
    














// .faq {
//     background-color: hsl(225, 7%, 12%);
   

//     &__title {
//         font-weight: 600;
//         font-size: 16px;
//         line-height: 150%;
//         letter-spacing: -0.02em;
//         text-transform: uppercase;
//         color: red;
//         margin-bottom: 16px;

       
//     }

//     &__input {
//         position: absolute;
//         opacity: 0;
//         z-index: -1;
//     }

//     &__paragraph {
//         max-height: 0;
//         overflow: hidden;
//         transition: all 0.35s;
//     }

//     &__text{
//         font-weight: 500;
//         font-size: 16px;
//         line-height: 150%;
//         letter-spacing: -0.02em;
//         color: red;
//         width: 343px;

//         @media screen and (min-width: 768px) {
//             width: 656px;
//         }
//     }

//     &__list{
//         display: flex;
//         flex-wrap: wrap;
//         flex-direction: column;

//         @media screen and (min-width:1200px) {
//             flex-direction: row;
//         }
//     }

//     &__item input:checked ~ .faq__paragraph {
//         max-height: 100px;
//     }

//     &__item{
//         border: solid 1px rgba(250, 250, 250, 0.20);
//         padding-top: 20px;
//         padding-left: 4px;
//         padding-bottom: 20px;

//         @media screen and (min-width: 768px) {
//             padding-left: 32px;
//             padding-top: 32px;
//             flex-basis: calc((100% - 0px) / 1);
//         }

//         @media screen and (min-width: 1200px){
//             flex-basis: calc((100% - 0px) / 2);
//         }
//     }

//     &__item:nth-child(1){
//         padding-left: 4px;

//         @media screen and (min-width: 1200px) {
//             padding-left: 32px;
//         }
//     }

//     &__item:nth-child(3) {
//         padding-left: 4px;
        
//         @media screen and (min-width: 1200px) {
//             padding-left: 32px;
//         }
//     }

//     &__item:nth-child(5) {
//         padding-left: 4px;
        
//         @media screen and (min-width: 1200px) {
//             padding-left: 32px;
//         }
//     }

//     &__subtitle {
//         display: flex;
//         font-weight: 600;
//         font-size: 20px;
//         line-height: 150%;
//         letter-spacing: -0.02em;
//         color: green;
//         margin-bottom: 26px;
//         text-align: left;
//         align-items: center;
//         padding-right: 20px;

//         @media screen and (min-width: 768px) {
//             padding-right: 32px;
//         }
//     }


//     &__subtitle::after {
//         content: url(./../../image/icons/symbol-defs.svg#icon-plus);
//         width: 40px;
//         height: 40px;
//         background-color: chartreuse;
//         text-align: center;
//         transition: all 0.35s;
//         margin-left: auto;
//     }

//     &__item input:checked + .faq__subtitle::after {
//         content: url(.//image/destop/doctor1@1x.webp);
//         width: 30px;
//         height: 30px;
//         background-color: aqua;
//     }

//     &__item input:checked + .faq__line-left {
//         display: none;
//     }
    

//     &__paragraph p {
//         padding-bottom: 26px;
//     }
// }

//&__item:nth-child(1){
    //     padding-left: 4px;

    //     @media screen and (min-width: 1200px) {
    //         padding-left: 32px;
    //     }
    // }

    // &__item:nth-child(3) {
    //     padding-left: 4px;
        
    //     @media screen and (min-width: 1200px) {
    //         padding-left: 32px;
    //     }
    // }

    // &__item:nth-child(5) {
    //     padding-left: 4px;
        
    //     @media screen and (min-width: 1200px) {
    //         padding-left: 32px;
    //     }
    // }

