.reviews {
    background-color: #ECEFF7;
    padding-bottom: 23px ;

    &__img1{
        position: absolute;
        width: 78px;
        height: 80px;
        z-index: 1;
        margin-top: 30px;

        @media screen and (min-width:1306px) {
            width: 140px;
            height: 140px;
            margin-top: 51px;
        }

        @media screen and (min-width:1740px) {
            width: 189px;
            height: 193px;
            margin-top: 72px;
        }
    }

    &__img2{
        position: absolute;
        max-width: 189px;
        max-height: 193px;
        z-index: 1;
        margin-top: 30px;

        @media screen and (min-width:1306px) {
            width: 140px;
            height: 140px;
            margin-top: 51px;
        }

        @media screen and (min-width:1740px) {
            max-width: 189px;
            max-height: 193px;
            margin-top: 72px;
        }
    }

    &__text {
        color: var(--gray-maintext, #3A3B3D);
        font-family: "Open Sans";
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @media screen and (min-width:1306px) {
            font-size: 23px;
        }

        @media screen and (min-width:1740px) {
            font-size: 32px;

        }
    }

    &__title {
        color: var(--blue-dark-blue, #2887D9);
        font-family: "Open Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 44px; 
        margin-bottom: 23px;

        @media screen and (min-width:1306px) {
           margin-bottom: 24px;
           font-size:35px ;
        }

        @media screen and (min-width:1740px) {
            margin-bottom: 100px;
            font-size: 48px;
        }
    }

    &__text-block {
        position: relative;
        padding: 15.677px 16.089px 34.588px 33.004px;
        border-radius: 20.627px;
        border: 1px solid var(--blue-blue, #72B7F2);
        background: #F2F3F5;
        width: 280px;
        height: 140px;
        margin-left: 61px;
 
        @media screen and (min-width:1306px) {
            width: 484px;
            height: 242px;
            padding: 27.035px 27.955px 59.965px 56.917px;
            margin-left: 106px;
            border-radius: 40px;
        }

        @media screen and (min-width:1740px) {
            height: 340px;
            width: 680px;
            padding: 38px 39px 38px 80px; 
            margin-left: 149px;
            border-radius: 50px;
        }
    }

    &__icon1 {
        fill: #D0E1F1;
        transform: rotate(180deg);
        width: 52px;
        height: 52px;
        margin-left: 458px;
        display: none;

        @media screen and (min-width:1740px) {
           display: block;
        }
    }

    &__icon {
        fill: #2887D9;
        width: 52px;
        height: 52px;
        margin-left: 458px;
        display: none;

        @media screen and (min-width:1306px) {
            display: block;
        }
    }

    &__art {
        width: 153px;
        height: 150.529px;

        @media screen and (min-width:1306px) {
            width: 528px;
            height: 520px;
        }

        @media screen and (min-width:1740px) {
            width: 743px;
            height: 731px;
        }

        
       
    }

    &__subtitle {
        color: var(--blue-dark-blue, #2887D9);
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px; /* 112.5% */
        margin-bottom: 20px;
    }

    &__subtitle2 {
        color: var(--blue-dark-blue, #2887D9);
        font-family: "Open Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 137.5% */
        margin-bottom: 4px;
    }

    &__discription {
        color: var(--gray-maintext, #3A3B3D);
        font-family: "Open Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 137.5% */
    }

    &__mobile-section {
        display: block;

        @media screen and (min-width:1306px) {
           display: none;
        }
    }

    &__mobile-section ul {
        display: flex;
        gap: 4px;
        flex-direction: column;
    }

    &__box {
        margin: 0 auto;
        display: flex;
        gap: 70px;
    }
}

.block-list-item {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 53px;

    @media screen and (min-width:1306px) {
        flex-direction: column;
        gap: 35px;
        margin-bottom: 0;
     }

     @media screen and (min-width:1740px) {
        gap: 50px;
     }
}

.block-list {
    display: flex;
    flex-direction: column;

    @media screen and (min-width:1306px) {
        flex-direction: row;
    }
}

